<div id="addToHomescreen">
    <span>
        <img src="/assets/icons/icon-48x48.png">
        <span style="display: block; text-align: center; margin-top: -4px; font-weight: bold;">N.M.T</span>
    </span>
    <span style="padding-left: 0.5rem;">For the best experience, install the app by clicking the <img src="/assets/img/share-icon-ios.jpeg" matTooltip="Share Button" style="width: auto; height: 18px; vertical-align: middle; border-radius: 2px;"> button below and selecting <strong>Add to Home Screen</strong>.</span>
    <span style="min-width: 24px; padding-right: 0.75rem;" matTooltip="Dismiss" (click)="dismiss()" class="clickable">
        <mat-icon>close</mat-icon> 
    </span>
</div>