

<div class="center-all page-container">
    <h1 class="page-title"><i class="fa fa-spotify"></i> Spotify Library Album Sort</h1>
    <p>
        Provides some more ways to sort albums in your Spotify library.<br>
        <a routerLink="" class="action-link">Back to App List</a> 
        <ng-template [ngIf]="user">
            • <a (click)="listView = !listView" class="action-link clickable">Toggle List/Grid View</a>
        </ng-template>
        <br>
    </p>
    <p *ngIf="!user"><app-connect-spotify></app-connect-spotify></p>

    <div *ngIf="user && albums">
        <div class="album-sort-options no-scrollbar-container">
            <mat-chip-option *ngFor="let option of sortOptions" [selected]="sortKey == option" color="accent" (click)="sortKey == option ? sortDesc = !sortDesc : null; sortKey = option; " [selectable]="false">
                <mat-icon *ngIf="sortKey == option" class="sort-icon">{{ sortDesc ? 'arrow_downward' : 'arrow_upward' }}</mat-icon>
                {{ option }}
            </mat-chip-option>
        </div>
        <p>{{ getSortDescription() }}</p>
        <p *ngIf="albums.length == 0">Not seeing your library? I might still be fetching your albums. Once that's done, try reloading.</p>
        <table style="width: 100%" *ngIf="listView">
            <thead class="sticky-table-header">
                <tr>
                    <th class="table-border">No.</th>
                    <th class="table-border">Sort Field</th>
                    <th class="table-border">Artist</th>
                    <th class="table-border">Album</th>
                </tr>
            </thead>
            <tbody style="text-align: left">
                <tr *ngFor="let entry of albums | albumSort:sortKey:sortDesc; let i = index">
                    <td class="table-border center">{{ i + 1 }}</td>
                    <td class="table-border">{{ getSortDisplayValue(entry) }}</td>
                    <td class="table-border"><a href="{{ entry.api.album.artists[0].external_urls.spotify }}" target="_blank">{{ formatArtists(entry.api.album.artists) }}</a></td>
                    <td class="table-border"><a href="{{ entry.api.album.external_urls.spotify }}" target="_blank">{{ entry.api.album.name }}</a></td>
                </tr>
            </tbody>
        </table>
        <div [ngClass]="!mobileView() ? 'album-container' : 'album-container-mobile'"  *ngIf="!listView">
            <div *ngFor="let entry of albums | albumSort:sortKey:sortDesc" [ngClass]="!mobileView() ? 'album-card' : 'album-card-mobile'">
                <a href="{{ entry.api.album.external_urls.spotify }}" target="_blank">
                    <img src="{{ extractAlbumImage(entry.api.album.images) }}">
                </a>
                <div class="text-ellipsis">
                    <div class="text-ellipsis" matTooltip="{{ entry.api.album.name }}" matTooltipPosition="above"><strong>{{ entry.api.album.name }}</strong></div>
                    <span>{{ formatArtists(entry.api.album.artists) }}</span><br>
                    <mat-chip class="mat-chip-compact" style="margin-top: 0.4rem">{{ getSortDisplayValue(entry) }}</mat-chip>
                </div>
            </div>
        </div>
    </div>
</div>