<div class="center-all page-container">
    <h1 class="home-page-title">Neil's Music Tools</h1>
    <div class="logo-title">
    </div>
    <p>
        Here are some mini tools for music apps that I personally find useful in day-to-day life.<br>
        <a class="action-link" href="https://github.com/neilmenon/music-tools" target="href"><i class="fa fa-github"></i> Github</a>
        <br><br>
        <app-connect-spotify [showConnectButton]="false"></app-connect-spotify>
    </p>

    <div class="app-list-container container">
        <div class="box">
            <h1 [routerLink]="['spotify-album-sort']" class="clickable"><i class="fa fa-spotify"></i>&nbsp;<i class="fab fa-lastfm"></i> Spotify Library Album Sort</h1>
            <p>Provides some more ways to sort albums in your Spotify library.</p>
            <p>
                <button mat-raised-button color="accent" [routerLink]="['spotify-album-sort']">Launch</button>
            </p>
        </div>
        <div class="box">
            <h1 [routerLink]="['anniversify']" class="clickable"><i class="fa fa-spotify"></i> Anniversify</h1>
            <p>Notifies you when an album in your Spotify Library has an anniversary.</p>
            <p>
                <button mat-raised-button color="accent" [routerLink]="['anniversify']">Launch</button>
            </p>
        </div>
    </div>
</div>