<button mat-raised-button color="accent" *ngIf="(!user && showConnectButton) || needMoreScopes" (click)="spotifyService.redirectToAuthorizationPage(tool)" class="spotify-button">
    {{ needMoreScopes ? 'Re-Connect Spotify' : 'Connect Spotify' }}
</button>
<div id="manageAccounts">
    <div *ngIf="user && !tool">
        <h4>Spotify</h4>
        <div style="position: relative;">
            <div style="width: 100px; height:100px">
                <img width="100px" style="border-radius: 50%; border: 2px solid; display: block;" src="{{ spotifyUserImage }}">
            </div>
            <button mat-mini-fab color="accent" (click)="disconnect()" class="spotify-button profile-button" [matTooltip]="'Disconnect Spotify'">
                <mat-icon>logout</mat-icon>
            </button>
        </div>
    </div>
    <div *ngIf="lastfmUser && !tool">
        <h4>Last.fm</h4>
        <div style="position: relative;">
            <div style="width: 100px; height:100px">
                <img width="100px" style="border-radius: 50%; border: 2px solid; display: block;" src="{{ lastfmUser.profileImage }}">
            </div>
            <button mat-mini-fab color="primary" (click)="disconnectLastfm()" class="lastfm-button profile-button" [matTooltip]="'Disconnect Last.fm'">
                <mat-icon>logout</mat-icon>
            </button>
        </div>
    </div>
</div>
