/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

body {
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
    height: 100%;
    background-image: url(/assets/img/background.svg);
    background-color: #222222;
    color: #e2e2e2;
    width: 85%;
    margin: auto;
}

/* .mat-mdc-button .mdc-button__label, .mat-mdc-unelevated-button .mdc-button__label, .mat-mdc-raised-button .mdc-button__label, .mat-mdc-outlined-button .mdc-button__label {
    color: #222222;
} */

a {
    color: rgb(188, 170, 143);
    text-decoration: none;
}

hr {
    border: 1px solid #b3b2b2c7;
    border-bottom: none;
}

@media (max-width: 600px) {
    body {
        width: 90%;
    }
}

.app-container {
    padding-top: 15px;
}

.center {
    text-align: center;
}
.center-all {
    text-align: center;
    margin: auto;
    display: block;
}
.center-h-v {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    text-align: center;
    width: 100%;
}

.mat-toolbar.mat-primary {
    background: transparent;
    border-bottom: 1px solid #5a5a5a;
    margin: auto;
    overflow: hidden;
}

.mat-drawer-container {
    background-image: url(/assets/img/background.svg);
    background-color: #222222;
    color: rgb(226, 226, 226);
}

.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary, .primary {
    background-color: #ba0000;
}
.mat-flat-button.mat-warn, .mat-raised-button.mat-warn, .mat-fab.mat-warn, .mat-mini-fab.mat-warn, .warn {
    background-color: #716340;
}
.clickable {
    cursor: pointer!important;
}
.spacer {
    flex: 1 1 auto;
}
.clear-color, .clear-color-full {
    color: #e2e2e2;
}
.clear-color:hover {
    color: darkseagreen!important;
}

.box {
    overflow: auto;
    background: rgba(255,255,255,0.08);
    margin-bottom: 15px;
    padding: 15px 15px 0px 15px;
}
.box-title {
    margin-bottom: 0px!important;
}
.box-button {
    margin-top: 7px;
    margin-left: 7px;
    display: none;
}
.box-form {
    display: inherit;
    width: 100%;
}
.container {
    display: flex;
    /* https://stackoverflow.com/questions/10422949/css-background-opacity */
}
.container > div {
    flex: 1;
}
.container > div:not(:last-child) {
    margin-right: 15px;
}

::-webkit-resizer {
	background: transparent;
}

::-webkit-scrollbar {
	width: 5px;
	background: #222222;
}

::-webkit-scrollbar:horizontal {
	height: 5px;
	background-color: #222222;
}

::-webkit-scrollbar-corner {
	background: transparent;
}

::-webkit-scrollbar-thumb,
 ::-webkit-scrollbar-thumb:horizontal {
	border-radius: 7px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	background-color: #7a7a7a;
}

::-webkit-scrollbar-track-piece {
	display: none;
}

h1.home-page-title {
    font-size: 4.25em;
    font-weight: 200;
    padding-bottom: 1rem;
}

h1.page-title {
    font-size: 3.25em;
    font-weight: 200;
    padding-bottom: 1rem;
}

@media only screen and (max-width: 600px) {
    h1.home-page-title {
        font-size: 11vw!important;
    }
    h1.page-title {
        font-size: 7vw!important;
    }
}

.page-container {
    padding-top: 4vw;
}

.app-list-container {
    padding-top: 2rem;
}

@media screen and (max-width: 960px) {
    .container {
        display: block;
    }
    .container > div {
        flex: none;
    }
    .container > div:not(:last-child) {
        margin-right: 0;
    }
}

.app-list-container * > mat-chip:not(:last-child) {
    margin-right: 0.5rem;
}

.spotify-button {
    background: #1db954!important;
    color: #fff!important;
}

.album-card {
    background: #181818;
    padding: 16px;
    transition: background-color .3s ease;
    border-radius: 4px;
    margin-bottom: 1rem;
    min-width: 155px;
    max-width: 155px;
}

.album-card img {
    width: 150px;
    height: auto;
}

.album-card:hover, .album-card-mobile:hover {
    background: #282828;
}

.album-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.album-container > div:not(:last-child) {
    margin-right: 15px;
}

.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

.album-container-mobile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.album-container-mobile > div:not(:last-child) {
    margin-bottom: 1rem;
}

.album-card-mobile {
    display: flex;
    justify-content: flex-start;
    background: #181818;
    padding: 0.8rem;
    transition: background-color .3s ease;
    border-radius: 4px;
    width: 100%;
    overflow: hidden;
}

.album-card-mobile > *:first-child {
    flex: 0 0 auto;
    width: 68px;
    height: 68px;
}

.album-card-mobile img {
    width: 68px;
}

.album-card-mobile > div {
    text-align: left;
    padding-left: 0.5rem;
    flex: 3 0 150px;
}

.album-sort-options {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

div > mat-chip-option:not(:last-child), mat-chip:not(:last-child) {
    margin-right: 0.5rem;
}

.mdc-evolution-chip__checkmark {
    display: none;
}

.sort-icon {
    position: absolute;
    top: 0.2rem;
    left: 0.6rem;
}

.mat-chip-compact {
    height: 21px!important;
}

.no-scrollbar-container {
    overflow-x: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    white-space: nowrap;
}

.no-scrollbar-container::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-image: url(/assets/img/background.svg);
    background: #222222;
}

table th {
    /* border: 0.1px solid rgba(191, 191, 191, 0.534); */
    padding: 0px;
}

table > tbody > tr:nth-child(odd) {
    background: rgb(44, 44, 44);
}

.table-border {
    border: 0.5px solid #bfbfbf3d;
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
    max-width: 350px;
    text-overflow: ellipsis;
}

.sticky-table-header th {
    position: sticky;
    top: -1px;
    background: #212121;
    box-shadow: inset 0.5px 0.5px #bfbfbf3d, 0 0.5px #bfbfbf3d;
}

.action-link {
    color: #7ca3c9;
    font-weight: 500;
}

.full-width {
    width: 100%;
}

.mat-mdc-raised-button.mat-primary {
    --mdc-protected-button-container-color: #577a9c;
    --mdc-protected-button-label-text-color: #fff;
}